#glassesWrapper {
    overflow: hidden;
    width: 100vw;
    padding: 20px 0;
    background-color: transparent;
    position: relative;
}

#glassesCarousel {
    display: flex;
    width: fit-content;
    animation: scroll 35s linear infinite;
}

.cocktailImg {
    max-height: 150px;
    margin: 0 20px;
    flex-shrink: 0;
}

.glassesImg {
    max-height: 110px;
    margin: 0 35px;
    flex-shrink: 0;
    margin-top: 30px;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* Responsive scaling */
@media only screen and (max-width: 800px) {
    .cocktailImg {
        max-height: 120px;
        margin: 0 15px;
    }
    .glassesImg {
        max-height: 80px;
        margin: 0 15px;
        margin-top: 20px;
        
    }
}

@media only screen and (max-width: 600px) {
    .cocktailImg {
        max-height: 100px;
        margin: 0 10px;
    }
    .glassesImg {
        max-height: 65px;
        margin: 0 10px;
        margin-top: 25px;
        
    }
}

@media only screen and (max-width: 400px) {
    .cocktailImg {
        max-height: 80px;
        margin: 0 8px;
    }
    .glassesImg {
        max-height: 50px;
        margin: 0 8px;
        margin-top: 30px;
        
    }
}
