.servicesText{
    display: flex;
    flex-direction: column;
    text-align: center;

}

#serviceHeader{
    color: #DBDADA;
    text-align: center;
    align-content: center;
    font-size: 4em;
    font-family: 'Monckeberg Light';
    padding-top: 20px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Safari */
}


#servicesItalics{
    color: white;
    font-size: 3em;
    font-family: 'Monckeberg Light';
    font-style: italic;
}

#servicesParagraph{
    color: white;
    font-size: 1.8em;
    font-family: 'Monckeberg Light';
    max-width: 70%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.servicesContainer{
    display: flex;
    flex-direction: row ;
    justify-content: space-evenly; 
    align-items: center;
    flex-wrap: wrap;
}

.serviceImg{
    max-width: 100%;
    height: 600px;
    opacity: 1;
    transition: .5s ease;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    border-width: 10;
    margin-top: 20px;
}

#shaking{
    height: 600px;
    max-width: 50%;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    border-width: 10;
    margin-top: 20px;
}

.servicesDivs{
    position: relative;
    overflow: hidden;
}

.servicesDivs .overlay-box{    
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20;
    opacity:0;
    transition: opacity 0.5s ease;
    z-index: 1;
    border-radius: 40px;
    overflow: hidden;
  }
  

  .servicesDivs:hover .serviceImg {
    opacity: 0.5;
 }

    .servicesDivs:hover .overlay-box {
        opacity: 1;
}

/* Hide on larger screens */
.serviceDescriptionMobile {
    display: none;
}

 .serviceDescription{
    color:white;
    font-size: 32pt;
    font-family: 'Monckeberg';
    padding-left: 10px;
    padding-bottom: 150px;
    text-align: center;
 }