#glassesContainer {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center;
    padding-top: 35px;
    height: 25vh; /* Adjust height as needed */
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.glasses{
    width: 100%; /* Make images responsive */
    max-width: 120px; /* Maximum size */
    display: block; /* Align images correctly */
    margin: 0 auto; /* Center images */
}

.martinis{
    width: 100%; /* Make images responsive */
    max-width: 170px; /* Maximum size */
    display: block; /* Align images correctly */
    margin: 0 auto; /* Center images */
}
