/* src/homeSection.css */

.homeSection {
    display: flex;
    position: relative; /* Ensure the container is relative */
    justify-content: center;
    align-items: center;
}

#homeSlogan {
    position: absolute; /* Position the slogan absolutely within the container */
    top: 20px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    height: 120px;
    padding-top: 5px;
    justify-content: center;
    color: white;
    font-family: 'Monckeberg';
    font-size: 6vw;
    font-weight: 1000;
    white-space: nowrap;
    opacity: 0; /* Start with opacity 0 for animation */
    animation: fadeInSlogan 4s ease forwards;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Safari */
}

@keyframes fadeInSlogan {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#homeimg1, #homeimg2 {
    height: auto;
    max-width: 50%;
}
