#contactHeader {
    color: #DBDADA;
    text-align: center;
    font-size: 4em;
    font-family: 'Monckeberg Light';
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

#contactHeader::after {
    content: "";
    display: block;
    width: 200px; 
    height: 3px; 
    background-color: #E5383B;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.contactsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 18pt;
    margin-bottom: 100px;
    font-family: 'Monckeberg Light';
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.emailDiv,
.callDiv,
.socialDiv {
    background-color: #f00105b9;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    margin: 0 20px;
    
}


.callDiv,
.socialDiv,
.emailDiv {
    transition: width 0.3s ease, height 0.3s ease;
}


.callDiv:hover,
.socialDiv:hover {
    width: 250px;
    height: 350px;
    cursor: pointer;
}

.emailDiv:hover {
    width: 350px;
    height: 350px;
    cursor: pointer;
}

#instaPhoto {
    width: 165px;
    height: auto;
    padding-left: 15px;
}

.phoneNumber,
.email {
    color: white;
}

@media only screen and (max-width: 800px) {
    .contactsSection {
        flex-direction: row;
        align-items: center;
    }

    .emailDiv,
    .callDiv,
    .socialDiv {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        margin: 20px 0;
        padding: 0;
        
    }

    .callDiv img,
    .emailDiv img,
    .socialDiv img {
        width: 60%;
        height: auto;
        margin-top: 25%;
    }

    #instaPhoto{
        max-width: 50%;
        padding-left: 5px;
    }

    .callUs,
    .emailUs,
    .phoneNumber,
    .email {
        display: none;
    }

    .callDiv:hover,
    .socialDiv:hover,
    .emailDiv:hover {
        width: 100px;
        height: 100px;
    }
}