/* Mobile Responsive Styles */
@media only screen and (max-width: 800px) {
    .martiniRow {
        max-width: 20%;
    }

    #glassesContainer {
        height: 15vh;
    }

    #mainNavImg {
        max-height: 100px;
    }

    #martiniImage {
        max-height: 40px;
    }

    .glasses-img {
        max-width: 40%;
    }

    .logo {
        max-width: 40%;
    }

    #homeSlogan {
        font-size: 8vw;
    }

    #serviceHeader {
        font-size: 5vh;
        z-index: 0;
    }

    #aboutSection,
    #contactHeader,
    #testHeader {
        font-size: 5vh;
    }

    #servicesItalics,
    #aboutDescription,
    .servicesText p,
    .contactsSection p,
    .Testimonals p {
        font-size: 2.2vh;
    }

    #servicesParagraph {
        font-size: 2.2vh;
        max-width: 500px;
    }

    #Copyright {
        font-size: 1.5vh;
    }

    #websiteDev {
        font-size: 1.5vh;
    }

    .swiper-slide {
        font-size: 10pt;
    }

    .swiper-container {
        height: 120px;
    }

    .foundersPic {
        max-width: 50%;
        padding-right: 20px;
    }

    #serviceHeader::after,
    #contactHeader::after,
    #testHeader::after,
    .aboutUsHeader::after {
        width: 100px;
        height: 2px;
    }

    .serviceImg {
        max-height: 350px;
    }

    #shaking {
        display: none;
    }

    .servicesDivs {
        position: relative;
        overflow: hidden;
    }

    .overlay-box {
        display: none;
    }

    .serviceDescription {
        display: none;
    }

    .serviceDescriptionMobile {
        display: block;
        color: white;
        font-size: 2.6vh;
        font-family: 'Monckeberg';
        overflow: hidden;
        z-index: 2;
        text-align: center;
    }

    #aboutDescription {
        max-width: 500px;
        padding-top: 25px;
    }

    .aboutSection {
        flex-direction: column;
    }

    .servicesDivs:hover .serviceImg {
        opacity: 1;
    }

    .servicesDivs:hover .overlay-box {
        opacity: 1;
    }

    .testimonial-author {
        display: none;
    }

    .navLinks {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-open .navLinks {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 80px;
        right: 0;
        width: 100%;
        background-color: #0B090A;
        padding-top: 20px;
    }

    .serviceDescription,
    .TestimonalsContainer,
    .aboutSection {
        padding-bottom: 3%;
    }

    .servicesText {
        padding-top: 20px;
    }

    .contactsSection {
        flex-direction: row;
    }

    .callDiv,
    .emailDiv,
    .socialDiv {
        width: 50%;
        height: 50%;
        margin: 30px 0;
        border-radius: 50%;
        overflow: hidden;
        transition: width 0.3s ease, height 0.3s ease;
    }

    .callDiv:hover,
    .socialDiv:hover,
    .emailDiv:hover {
        width: 60%;
        height: 60%;
    }

    .callUs,
    .emailUs {
        font-size: 4vw;
    }

    .callDiv img,
    .emailDiv img {
        width: 50%;
        height: 50%;
    }

    .socialDiv img {
        max-width: 40%;
    }

    .phoneNumber,
    .email {
        display: none;
    }
}